<seciton class="user-feedback-section">
  <div class="user-feedback-block" ng-repeat="item in feedbackCards track by $index">
    <div class="user-feedback-block__header">
      日期:<span ng-bind="item.study_date"></span>
    </div>
    <div class="user-feedback-block__content">
      <div class="row">
        <div class="col-xs-6 feedback-item">
          <label>上课时间</label>
          <span ng-bind="item.class_time"></span>
        </div>
        <div class="col-xs-6 feedback-item">
          <label>离校时间</label>
          <span ng-bind="item.leave_time"></span>
        </div>
        <div class="col-xs-6 feedback-item">
          <label>课程类型</label>
          <span ng-bind="item.course_name"></span>
        </div>
        <div class="col-xs-6 feedback-item">
          <label>授课范围</label>
          <span ng-bind="item.section"></span>
        </div>
        <div class="col-xs-12 feedback-item">
          <label>课程内容</label>
          <p ng-bind="item.contents"></p>
        </div>
        <div class="col-xs-12 feedback-item">
          <label>课后作业</label>
          <p ng-bind="item.homework"></p>
        </div>
        <div class="col-xs-12 feedback-item">
          <label>课堂反馈</label>
          <p ng-bind="item.feedback"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="user-feedback-section__footer" ng-if="!pagination.pageIndex == pagination.totalPages && feedbackCards.length > 0" ng-click="getMore()">
    点击加载更多<i class="iconfont icon-angle-right"></i>
  </div>
  <div class="user-feedback-section__footer" ng-if="pagination.pageIndex == pagination.totalPages || feedbackCards.length == 0">
    没有更多内容了
  </div>
</seciton>
