<div class="page-top clearfix">
    <div class="container">
        <a class="page-top-logo" href="#">优加教育</a>
        <div class="page-top-menu fl clearfix">
            <ul>
                <li ui-sref-active="active">
                    <a ui-sref="index">首&emsp;页</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="staff">师资团队</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="course">课程列表<i class="fa fa-caret-down ml5"></i></a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="case">成功案例</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="aboutus">关于我们</a>
                </li>
            </ul>
        </div>
        <div class="page-top-right fr">
            <a href="" class="btn btn-green">登录</a>
        </div>
    </div>


</div>