<div class="page-top clearfix">
  <div class="container">
    <a class="page-top-logo" ui-sref="app.pages.index">优加教育</a>
    <div class="page-top-menu fl clearfix">
      <ul>
        <li ui-sref-active="active">
          <a ui-sref="app.pages.index">首&emsp;页</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.pages.staff">师资团队</a>
        </li>
        <li ng-class="{active: $state.includes('app.pages.course')}" class="dropdown-trigger">
          <a>课程列表<i class="fa fa-caret-down ml5"></i></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="app.pages.course.ielts" ui-sref-active="active">雅思</a></li>
            <li><a ui-sref="app.pages.course.toefl" ui-sref-active="active">托福</a></li>
            <li><a ui-sref="app.pages.course.gre" ui-sref-active="active">GRE</a></li>
            <li><a ui-sref="app.pages.course.sat" ui-sref-active="active">SAT</a></li>
            <li><a>其他</a></li>
          </ul>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.pages.case">成功案例</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.pages.about">关于我们</a>
        </li>
      </ul>
    </div>
    <div class="page-top-right fr dropdown-trigger">
      <a class="btn btn-green" ng-click="promptLogin()" ng-if="!me">登录</a>
      <div class="flex-center" ng-if="me">
        <i class="iconfont icon-user-circle-o mr5 font40"></i>
        <i class="fa fa-caret-down"></i>
      </div>
      <ul class="dropdown-menu" ng-if="me">
        <li><a ui-sref="app.pages.dashboard.personal.info">个人中心</a></li>
        <li><a ng-click="logout()">退出</a></li>
      </ul>
    </div>
  </div>
</div>
