<section class="user-schedule-section">
  <table class="user-schedule-table" ng-repeat="dayTable in data track by $index">
    <thead>
    <tr>
      <th ng-bind="weeks[$index]"></th>
      <th>节次</th>
      <th>时间</th>
      <th>课程</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in dayTable track by $index">
      <td></td><td>上午</td><td ng-bind="times[$index]"></td><td><span ng-bind="item.course_name">雅思</span><span ng-bind="item.chinese_name">杨老师</span></td>
    </tr>
    </tbody>
  </table>
</section>
