<!--Header-part-->
<div id="header">
    <h1 class="logo">
        <!--成都市信息安全态势感知平台-->
        <!--<p>Cheng Du Information Security Situation Awareness Platform </p>-->
        信息安全态势感知平台
        <p>Information Security Situation Awareness Platform </p>
    </h1>
    <ul class="tit">
        <li>
            <a data-ui-sref="app.overall"
               ng-class="{active: $state.includes('app.overall')}">综合安全态势<span></span></a>
        </li>
        <li>
            <a data-ui-sref="app.ic" ng-class="{active: $state.includes('app.ic')}">工控安全态势 <span></span></a>
        </li>
        <li>
            <a data-ui-sref="app.web" ng-class="{active: $state.includes('app.web')}">网站安全态势
                <span></span></a>
        </li>
        <li>
            <a data-ui-sref="app.alert" ng-class="{active: $state.includes('app.alert')}">通报预警
                <span></span></a>
        </li>
        <li>
            <a data-ui-sref="app.emergency" ng-class="{active: $state.includes('app.emergency')}">应急处置
                <span></span></a>
        </li>
    </ul>
    <div class="alert-zone hearder-right">
        <a href="http://vsoc.30services.com/Login/LoginPage.aspx" class="btn btn-more mr10" target="_blank">网站监测</a>
          <!--<a href="http://vsoc.30services.com/Login/LoginPage.aspx"  class="btn btn-more mr10" target="_blank">通报预警</a>-->
        <a title="" href="http://110.185.210.152:40303/web/home-cdts" target="_blank" class="btn btn-more mr10">工控系统监测</a>
      
        <div class="time-box">
            <p ng-bind="now"></p>
            <p ng-bind="time" class="times"></p>
        </div>
    </div>
</div>
<!--top-Header-menu-->
<!--close-top-Header-menu-->
