<div class="card-wrapper">
  <div class="card-tool">
    <button class="btn btn-green-outline mr10" ng-click="add()"><i class="iconfont icon-add-document mr10"></i>新增
    </button>
    <button class="btn btn-green-outline mr10" ng-click="export()"><i class="iconfont icon-print mr10"></i>导出
    </button>
    <button class="btn btn-green-outline" ng-click="deleteAll()"><i class="iconfont icon-brush mr10"></i>清空反馈</button>
    <button class="btn btn-green-outline fr" ui-sref="dashboard.feedback"><i class="iconfont icon-angle-left mr10"></i>返回
    </button>

  </div>
  <div class="flex">
    <div class="card-box-container" ng-repeat="item in tableData track by $index">
      <div class="card-box">
        <div class="card-box-header">
          <span class="font16 mr10" ng-bind="item.chinese_name"></span>
          <span class="opacity6">日期：<span ng-bind="item.study_date"></span></span>
          <div class="fr font20">
            <a class="mr10" ng-click="edit(item)"><i class="iconfont icon-pencil"></i></a>
            <a ng-click="delete(item.id)"><i class="iconfont icon-delete"></i></a>
          </div>
        </div>
        <div class="card-box-body">
          <div class="row">
            <div class="col-md-6">
              <p class="sub-color">上课时间：</p>
              <p ng-bind="item.class_time"></p>
            </div>
            <div class="col-md-6">
              <p class="sub-color">离校时间：</p>
              <p ng-bind="item.leave_time"></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p class="sub-color">课程类型：</p>
              <p ng-bind="item.course_name"></p>
            </div>
            <div class="col-md-6">
              <p class="sub-color">授课范围：</p>
              <p ng-bind="item.section"></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="sub-color">课程内容：</p>
              <p ng-bind="item.contents"></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="sub-color">课后作业：</p>
              <p ng-bind="item.homework"></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="sub-color">课堂反馈：</p>
              <p ng-bind="item.feedback"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div include-with-scope="app/directives/tables/table-pagination.html"></div>
