<div class="span6 bottom-span">
  <div class="widget-box">
    <div class="widget-content nopadding">
      <div class="center-boxdown">
        <div class="tab">
          <div class="title"> 最新风险工控系统</div>
          <div class="overflow-bottom">
            <table class="table table-bordered table-mg">
              <tbody id="tb-scroll-3">
              <tr ng-repeat="data in icData track by $index">
                <td class="orange" ng-bind="data.ip"></td>
                <td ng-bind="data.type"></td>
                <td ng-bind="data.location.district"></td>
                <td ng-bind="data.timestamp"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="tab" style="left: 50%">
          <div class="title"> 最新风险网站</div>
          <div class="overflow-bottom">
            <table class="table table-bordered table-mg">
              <tbody id="tb-scroll-4">
              <tr ng-repeat="data in webData track by $index">
                <td><div class="orange word-break web-url" ng-bind="data.url" title="{{data.url}}"></div></td>
                <td><div class="word-break web-user" ng-bind="data.user" title="{{data.user}}"></div></td>
                <td ng-bind="data.timestamp"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
