<div class="personal-panel">
  <div class="table-tool">
    <div class="title">修改密码</div>
    <button class="btn btn-green-outline fr" ui-sref="dashboard.personal"><i class="iconfont icon-angle-left"></i>返回</button>
  </div>
  <div class="password-panel">
    <ul class="step-line flex-center">
      <li ng-class="{normal: step !== $index + 2, active : step === $index + 2}"
          ng-repeat="sl in stepLines track by $index">
         <span>
            <strong ng-bind="$index+1"></strong>
            <strong>.</strong>
            <strong ng-bind="sl"></strong>
        </span>
      </li>
    </ul>

    <div class="col-md-10 col-md-offset-1 form-container">
      <step1 ng-if="step === 1"></step1>
      <step2 ng-if="step === 2"></step2>
      <step3 ng-if="step === 3"></step3>
    </div>
  </div>
</div>



