<div class="staff-banner flex-center" img-resize="{height:630,width:1920}">
    <div class="staff-banner-container">
        <div class="staff-blue-bg">
            <div class="staff-banner-txt text-center absolute-center">
                <p class="font40">优质的师资队伍</p>
                <p class="font20">专业知识过硬，教学经验丰富，教育背景行业领先</p>
            </div>
        </div>
    </div>
</div>

<section class="staff-norm-section">
    <div class="staff-norm-title text-center">
        <p class="main-color font36">严格的老师录用标准</p>
        <p class="sub-color font18">对老师的严格培训、考核、淘汰机制，以保证教学的高质量</p>
    </div>
    <div class="staff-norm-content text-center">
        <div class="staff-norm-bg-1" img-resize="{height:450,width:380}">
            <div class="hover-stratum"></div>
            <div class="circle flex-center">优质</div>
            <p class="relative fl ph15 text-left z2">均毕业于国内985,211高校或国外莫纳什大学，普渡大学等知名学府，均在托福雅思考试中取得高分 </p>
        </div>
        <div class="staff-norm-bg-2" img-resize="{height:450,width:380}">
            <div class="hover-stratum"></div>
            <div class="circle flex-center">丰富</div>
            <p class="relative fl ph15 text-left z2">平均每人每学年授课1800小时以上，约等于公立学校英语老师11.56年的总课时</p>
        </div>
        <div class="staff-norm-bg-3" img-resize="{height:450,width:380}">
            <div class="hover-stratum"></div>
            <div class="circle flex-center">严谨</div>
            <p class="relative fl ph15 text-left z2">自主研发金牌教材，每周定期教研，学生学习方法，习惯与成绩全面提高</p>
        </div>
    </div>
</section>

<section class="staff-tutor-section">
    <div class="tutor-summary">
        <div class="container">
            <div class="title">
                <p class="font36">金牌导师</p>
                <div class="underline"></div>
                <p class="font18">GOLD TUTOR</p>
            </div>
            <div class="relative font16">
                <div class="tutors-slider-container">
                    <div class="tutors-slider-container-inner">
                        <div class="tutor-item" ng-click="seeMore(1)" ng-class="{active:activeIndex == 1}">
                            <div class="avatar-container">
                                <img src="assets/image/_tutor-avatar-4.png" alt="">
                            </div>
                            <div class="tutor-info">
                                <p class="tutor-name"><span>刘严</span> / <span>Lydia</span></p>
                                <div class="tutor-school-major fl">
                                    <p>美国PURDUE UNIVERSITY</p>
                                    <p>主修动物科学</p>
                                </div>
                            </div>
                        </div>
                        <div class="tutor-item" ng-click="seeMore(2)" ng-class="{active:activeIndex == 2}">
                            <div class="avatar-container">
                                <img src="assets/image/_tutor-avatar-4.png" alt="">
                            </div>
                            <div class="tutor-info">
                                <p class="tutor-name"><span>刘严</span> / <span>Lydia</span></p>
                                <div class="tutor-school-major fl">
                                    <p>美国PURDUE UNIVERSITY</p>
                                    <p>主修动物科学</p>
                                </div>
                            </div>
                        </div>
                        <div class="tutor-item" ng-click="seeMore(3)" ng-class="{active:activeIndex == 3}">
                            <div class="avatar-container">
                                <img src="assets/image/_tutor-avatar-4.png" alt="">
                            </div>
                            <div class="tutor-info">

                                <p class="tutor-name"><span>刘严</span> / <span>Lydia</span></p>
                                <div class="tutor-school-major fl">
                                    <p>美国PURDUE UNIVERSITY</p>
                                    <p>主修动物科学</p>
                                </div>
                            </div>
                        </div>
                        <div class="tutor-item" ng-click="seeMore(4)"  ng-class="{active:activeIndex == 4}">
                            <div class="avatar-container">
                                <img src="assets/image/_tutor-avatar-4.png" alt="">
                            </div>
                            <div class="tutor-info">
                                <p class="tutor-name"><span>刘严</span> / <span>Lydia</span></p>
                                <div class="tutor-school-major fl">
                                    <p>美国PURDUE UNIVERSITY</p>
                                    <p>主修动物科学</p>
                                </div>
                            </div>
                        </div>
                        <div class="tutor-item" ng-click="seeMore(5)" ng-class="{active:activeIndex == 5}">
                            <div class="avatar-container">
                                <img src="assets/image/_tutor-avatar-4.png" alt="">
                            </div>
                            <div class="tutor-info">
                                <p class="tutor-name"><span>刘严</span> / <span>Lydia</span></p>
                                <div class="tutor-school-major fl">
                                    <p>美国PURDUE UNIVERSITY</p>
                                    <p>主修动物科学</p>
                                </div>
                            </div>
                        </div>
                        <!--<div class="tutor-item">-->
                        <!--<div class="avatar-container">-->
                        <!--<img src="assets/image/_tutor-avatar-4.png" alt="">-->
                        <!--</div>-->
                        <!--<div class="tutor-info">-->
                        <!--<p class="tutor-name"><span>刘严</span> / <span>Lydia</span></p>-->
                        <!--<div class="tutor-school-major fl">-->
                        <!--<p>美国PURDUE UNIVERSITY</p>-->
                        <!--<p>主修动物科学</p>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="tutor-item">-->
                        <!--<div class="avatar-container">-->
                        <!--<img src="assets/image/_tutor-avatar-4.png" alt="">-->
                        <!--</div>-->
                        <!--<div class="tutor-info">-->
                        <!--<p class="tutor-name"><span>刘严</span> / <span>Lydia</span></p>-->
                        <!--<div class="tutor-school-major fl">-->
                        <!--<p>美国PURDUE UNIVERSITY</p>-->
                        <!--<p>主修动物科学</p>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="tutor-item">-->
                        <!--<div class="avatar-container">-->
                        <!--<img src="assets/image/_tutor-avatar-4.png" alt="">-->
                        <!--</div>-->
                        <!--<div class="tutor-info">-->
                        <!--<p class="tutor-name"><span>刘严</span> / <span>Lydia</span></p>-->
                        <!--<div class="tutor-school-major fl">-->
                        <!--<p>美国PURDUE UNIVERSITY</p>-->
                        <!--<p>主修动物科学</p>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="tutor-item">-->
                        <!--<div class="avatar-container">-->
                        <!--<img src="assets/image/_tutor-avatar-4.png" alt="">-->
                        <!--</div>-->
                        <!--<div class="tutor-info">-->
                        <!--<p class="tutor-name"><span>刘严</span> / <span>Lydia</span></p>-->
                        <!--<div class="tutor-school-major fl">-->
                        <!--<p>美国PURDUE UNIVERSITY</p>-->
                        <!--<p>主修动物科学</p>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="angle angle-left absolute-vertical-center"><i class="fa fa-angle-left"
                                                                          ng-click="prev()"></i></div>
                <div class="angle angle-right absolute-vertical-center"><i class="fa fa-angle-right"
                                                                           ng-click="next()"></i></div>
            </div>
        </div>
    </div>
    <div class="anchor"></div>
    <div class="tutor-detail">
        <div class="tutor-brief text-center">
            <i class="iconfont icon-quotation-left"></i>
            <p class="mt30 mb40">美国留学五年，曾多次在商学院演讲以及为animal physiology课程的新生讲课，同时在印第安纳拉法叶初中全英文教授中国</p>
        </div>
        <div class="container">
            <div class="tutor-detail-item case">
                <div class="title">
                    <p class="font24">成功案例</p>
                    <div class="underline"></div>
                    <p>SUCCESSFUL CASE</p>
                </div>
                <div class="content">
                    <p>Lakeside School (湖滨中学,比尔盖茨母校)、The Overlake School(欧弗克莱中学)、Easts</p>
                </div>
            </div>
            <div class="tutor-detail-item feature">
                <div class="title">
                    <p class="font24">个人特色</p>
                    <div class="underline fr"></div>
                    <div class='clearfix'></div>
                    <p>PERSONAL SPECIALTY</p>
                </div>
                <div class="content">
                    <p>
                        拥有五年以上美国高中与大学申请经验。近千名学生,从初高中规划到大学申请辅导都是Claire老师亲自把关,和家长学生打成共识而制定的个性方案。几年的默契配合,让Claire老师成为了家长和学生的家人——不仅熟悉孩子的兴趣爱好,而且成为了学生的导师。Claire老师的强项在于,能站在孩子的角度讲分析学生的问题,教会学生发掘自己的内动力,让厌学生成为自己学习的主人。家长对于美国的教育体系不了解,Claire老师善于深入浅出地把中美教育体系进行对比,讲解美国学生在不同年级和不同阶段要关注的一些事情,不让家长和学生错过任何重要的时间节点。
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="staff-appoint-section">
    <div class="title text-center">
        <p class="main-color font36">预约导师</p>
        <div class="underline"></div>
        <p class="sub-color font18 mb60">APPOINTMENT TUTOR</p>
    </div>
    <div class="appoint-container">
        <div class="appoint-bg fl"></div>
        <div class="appoint-info fl">
            <p class="font24 mb15">预约老师课程？</p>
            <form action="">
                <div class="form-group">
                    <input type="text" class="input form-control" placeholder="约课老师">
                </div>
                <div class="form-group">
                    <input type="text" class="input form-control" placeholder="你的姓名">
                </div>
                <div class="form-group">
                    <input type="text" class="input form-control" placeholder="手机号码">
                </div>
                <button class="btn btn-green">马上约课</button>
            </form>

        </div>
    </div>
</section>
