<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <div class="modal-title">头像信息</div>
</div>
<div class="modal-body pl60 pr60">
  <button class="btn btn-green-outline mb10" ngf-select ng-model="picFile" ngf-pattern="'image/*'"
       ngf-accept="'image/*'" ngf-max-size="3MB"><i class="iconfont icon-camera mr5"></i>选择您要上传的头像
  </button>
  <p>仅支持JPG、GIF、PNG、JPEG、BMP格式，文件大小小于3M</p>
  <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
    <img-crop image="picFile  | ngfDataUrl"
              result-image="croppedDataUrl" ng-init="croppedDataUrl = ''">
    </img-crop>
  </div>
  <p class="font16 main-color">效果预览</p>
  <p>您上传的图片会自动生成3种尺寸</p>
  <div>
    <img class="preview-b" ng-src="{{croppedDataUrl}}"/>
    <img class="preview-m" ng-src="{{croppedDataUrl}}"/>
    <img class="preview-s" ng-src="{{croppedDataUrl}}"/>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-green modal-footer-btn" ng-click="save()">保存信息</button>
</div>
