@import 'common';

html, body {
  font-family: @font-family;
  font-size: @font-size;
  //font-size: @font-size-percent;
  color: @font-color;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

ul {
  margin: 0;
  padding: 0;
}

.body-content {
  margin-top: @page-top-height;
  position: relative;
}

.main-color {
  color: @font-color;
}

.sub-color {
  color: @font-sub-color;
}

//>= 1440px
@media (min-width: @screen-xl-min) {
}

// < 1200px
@media (max-width: @screen-md-max) {
}

// < 992px
@media (max-width: @screen-sm-max) {
}

// <768px
@media (max-width: @screen-xs-max) {
}

// < 480px
@media (max-width: @screen-xxs-max) {
}

// injector
// endinjector
