@import 'common';

body {
  font-family: @font-family;
  color: @font-color;
}

.body-content {
  margin-top: @page-top-height;
  position: relative;
}

.main-color {
  color: @font-color;
}

.sub-color {
  color: @font-sub-color;
}

// injector
// endinjector