.common-modal {

  .modal-header {
    color: @primary-white;
    background-color: @primary-blue;
  }

  .modal-header button.close {
    color: @primary-white;
  }

  .form-group label.control-label {
    width: 100px;
    float: left;
  }

  .form-group .right {
    margin-left: 105px;
  }

  .view-txt {
    color: @font-color;
    line-height: 34px;
  }

  .has-error label.control-label {
    color: @font-error-color;
  }
  .has-error input.form-control,
  .has-error select.form-control,
  .has-error textarea.textarea {
    border-color: @font-error-color;
  }

  .has-error .avatar-error-block {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
  }

  .edit-photo-span {
    color: @primary-green;
    cursor: pointer;
  }

}

.common-modal button.modal-footer-btn {
  float: right;
  padding: 6px 40px;
  margin-right: 15px;
}

.cropArea {
  background: @font-light-color;
  overflow: hidden;
  width: 378px;
  height: 190px;
  margin-bottom: 10px;
}

img.preview {
  border-radius: 50%;
}

img.preview-b {
  width: 148px;
  height: 148px;
  background-color: @font-light-color;
}

img.preview-m {
  width: 108px;
  height: 108px;
  background-color: @font-light-color;
  margin: 0 30px;
}

img.preview-s {
  width: 58px;
  height: 58px;
  background-color: @font-light-color;
}

