@course-mid-width: @content-md-width;
@course-sm-width: 740px;
.course-page {
  font-size: 14px;
  .section-content {
    width: @course-mid-width;
  }
}
.course-banner {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("@{images-root}/course-banner.jpg") no-repeat;
  background-size: cover;
  color: @font-sub-color;
  font-size: 0.9em;
}
.course-banner__content {
  display: flex;
  margin: 40px 0;
  background-color: @primary-white;
}
.course-banner__left, .course-banner__right {
  position: relative;
  padding: 20px 0;
  height: 306px;
}
.course-banner__left {
  width: 420px;
  padding-left: 20px;
  .carousel {
    position: relative;
    width: 400px;
    height: 266px;
    overflow: hidden;
    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
  }
  .carousel__slides {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
    }
    li:not(:first-child) {
      display: none;
    }
    li:nth-child(1) {
      background: url("@{images-root}/course-banner-img-1.jpg") no-repeat center;
      background-size: cover;
    }
    li:nth-child(2) {
      background: url("@{images-root}/course-banner-img-2.jpg") no-repeat center;
      background-size: cover;
    }
    li:nth-child(3) {
      background: url("@{images-root}/course-banner-img-3.jpg") no-repeat center;
      background-size: cover;
    }
  }
  .carousel__indicators {
    position: absolute;
    width: 100%;
    height: 96px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(59, 89, 152, 0.4);
    li {
      width: 80px;
      height: 53px;
      margin: 10px;
      display: inline-block;
      &.active, &:hover {
        border: solid 2px @primary-green;
        cursor: pointer;
      }
    }
    li:first-child {
      background: url("@{images-root}/course-banner-img-1.jpg") no-repeat center;
      background-size: cover;
    }
    li:nth-child(2) {
      background: url("@{images-root}/course-banner-img-2.jpg") no-repeat center;
      background-size: cover;
    }
    li:nth-child(3) {
      background: url("@{images-root}/course-banner-img-3.jpg") no-repeat center;
      background-size: cover;
    }
  }
  .carousel__control {
    > * {
      position: absolute;
      bottom: 0;
      height: 96px;
      padding: 0 10px;
      font-size: 36px;
      color: @primary-white;
      line-height: 96px;
      opacity: 0.8;
      &:hover {
        cursor: pointer;
        opacity: 1;
      }
      &:first-child {
        left: 0;
      }
      &:last-child {
        right: 0;
      }
    }
  }

}
.course-banner__right {
  width: 380px;
  padding: 20px 0 20px 40px;
}

.course-banner__title {
  margin: 0 0 1rem 0;
  font-size: 18px;
  font-weight: normal;
  color: @font-color;
  small {
    font-size: 12px;
  }
}
.course-banner__gift-title {
  width: 130px;
  height: 24px;
  margin: 1em 0;
  background: url("@{images-root}/course-banner-info-bg.png") no-repeat center;
  background-size: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  line-height: 24px;
  color: @primary-white;
}
.course-banner__gift-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    .iconfont {
      display: inline-flex;
      padding: 0 20px;
      color: @primary-blue;
    }
  }
}
.course-banner__block--feature {
  //position: relative;
  //top: 21px;
}
.course-banner__feature-title {
  position: absolute;
  top: 160px;
  font-size: 1.2rem;
  font-weight: normal;
  color: @font-color;
  margin: .8rem 0;

}
.course-banner__feature-list {
  position: absolute;
  top: 190px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  margin: 0 0 0 -40px;
  padding: .8rem 2rem .8rem 40px;
  background-color: #e5e6ee;
  li {
    display: inline-flex;
    font-size: 9px;
    align-items: center;
    .iconfont {
      font-size: 14px;
      color: @primary-green;
    }
  }
}
.course-banner__buttons {
  //display: flex;
  position: absolute;
  bottom: 20px;
  margin: 18px 0 0 0;
  //justify-content: space-around;
  a {
    margin-right: 2rem;
  }
}
.course-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  color: @font-color;
  .course-section__title {
    margin: 0 auto 1.6rem;
  }
  .course-section__content {
  }
}
.course-section--intro {
  background-color: #f4f5f5;

  .course-section__content {
    display: flex;
    justify-content: space-between;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        display: flex;
        align-items: baseline;
        margin-bottom: 1em;
        .iconfont {
          display: inline-flex;
          margin-right: 1em;
          color: @font-sub-color;
          font-size: 20px;
        }
        span {
          display: inline-flex;
        }
        .item-name {
          flex: 0 0 90px;
          width: 90px;
        }
      }
    }
  }
}
.course-section--method {
  font-size: 0.9em;
  .course-section__content {
    display: flex;
    justify-content: space-between;
  }
  .course-method {
    position: relative;
    color: @primary-white;
    line-height: 1.2em;
  }
  .course-method__bg {
    display: block;
    width: 360px;
    height: 240px;
  }
  .course-method__content {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 8px 20px;
    background-color: rgba(59,89,152,0.6);
    h4 {
      font-size: 1.1em;
      font-weight: normal;
      margin-bottom: 20px;
      span, small {
        display: block;
        color: inherit;
        margin-bottom: 6px;
      }
    }
    p {
      margin-bottom: 6px;
    }
  }
  .course-method--1 {
    .course-method__bg {
      background: url("@{images-root}/course-method-bg-1.jpg") no-repeat center;
      background-size: cover;
    }
    .course-method__content {
      top: 0;
      height: 100%;
    }
  }
  .course-method--2 {
    .course-method__bg {
      background: url("@{images-root}/course-method-bg-2.jpg") no-repeat center;
      background-size: cover;
    }
    .course-method__content {
      bottom: 0;
    }

  }
}
.course-section--syllabus {
  font-size: 0.9em;
  background-color: #f4f5f5;
  h4 {
    width: 200px;
    height: 34px;
    padding: 0 1em;
    margin: 2em 0 1em 0;
    background: url("@{images-root}/course-small-title-bg.png") no-repeat center right;
    background-size: cover;
    font-size: inherit;
    line-height: 34px;
    color: @primary-white;
  }
  ul {
    margin: 0;
    padding: 2em 3em;
    background-color: @primary-white;
    line-height: 2em;
    li {
      margin-bottom: 0.6em;
    }
  }
  .section-info {
    color: @font-sub-color;
  }
  .section__p__info {
    color: @font-sub-color;
    padding-left: 2em;
    font-size: 1.1em;
  }
}

// < 992px
@media (max-width: @screen-sm-max) {
  .course-page {
    .section-content {
      width: @course-sm-width;
    }
  }
  .course-banner__content {
    width: @course-sm-width;
  }
  .course-banner__left {
    width: 400px;
    padding-left: 10px;
    .carousel {
      width: 390px;
    }
  }
  .course-banner__right {
    width: 340px;
    padding: 20px 0 20px 20px;
  }
  .course-slide {
    li {
      width: 370px;
      height: 240px;
    }
  }
  .course-banner__feature-list {
    margin-left: -20px;
  }
}
// < 768px
@media (max-width: @screen-xs-max) {
  .course-page {
    background: #f2f4f5;
    .section-content {
      width: 100%;
      padding: 10px;
    }
  }
  .course-banner {
    background: @primary-white;
    height: auto;
    margin-bottom: 20px;

  }
  .course-banner__title {
    padding-left: 10px;
  }
  .course-banner__content {
    display: block;
    width: 100%;
    margin: 10px;
  }
  .course-banner__left, .course-banner__right {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0 0 20px 0;
  }
  .course-banner__left {
    .carousel {
      width: 100%;
      height: 200px;
    }
    .carousel__slides {
    }
    .carousel__indicators {
      height: 20px;
      background: none;
      li {
        width: 20px;
        height: 4px;
        margin: 2px;
        background: none;
        background-image: none !important;
        background-color: @primary-white !important;
        opacity: 0.6;
        &.active, &:hover {
          opacity: 1;
          border: none;
        }
      }
    }
    .carousel__control {
      display: none;
    }
  }
  .course-banner__block {
    position: relative;
    display: block;
    margin-bottom: 20px;
    .clearfix();
    h3 {
      position: absolute;
      width: 80px;
      margin: 0 10px;
    }
    ul {
      margin-left: 120px;
      display: block;
      width: auto;
      li {
        margin-bottom: 6px;
      }
    }
  }
  .course-banner__gift-title {
    margin: 0;
    padding-left: 6px;
    background: url("@{images-root}/course-small-title-bg.png") no-repeat center right;
    background-size: cover;
    text-align: left;
  }
  .course-banner__gift-list {
    li > .iconfont {
      padding: 0 10px 0 0 ;
    }
  }
  .course-banner__block--feature {
    background-color: #f4f6f9;
    margin: 20px -10px;
    .course-banner__feature-title {
      top: auto;
      margin: 10px 20px 10px !important;
    }
    .course-banner__feature-list {
      position: static;
      display: block;
      background: transparent;
      margin: 10px 20px 10px 130px;
      padding: 0;
      li {
        display: inline-block;
        width: 80px;
        .iconfont {
          padding-right: 2px;
        }
      }
    }
  }
  .course-banner__buttons {
    position: static;
    top: auto;
    display: flex;
    a {
      width: 40%;
      margin:  0 5%;
    }
  }

  .course-section {
    background: @primary-white;
    margin-bottom: 20px;
  }
  .course-section--intro {
    .course-section__content {
      display: block;
      ul {
        li {
          .iconfont {
            font-size: 14px;
          }
          .item-name {
            color: @font-sub-color;
          }
        }
      }
    }
  }
  .course-section--method {
    .course-section__content {
      justify-content: flex-start;
      flex-direction: column;
    }
    .course-method {
      width: 100%;
      min-height: 240px;
    }
    .course-method__bg {
      width: 100%;
      height: 240px;
    }
    .course-method__content {
      position: relative;
      margin-top: -60px;
      background-color: transparent;
      .h4-bg {
        position: absolute;
        top: 10px;
        content: '';
        background-color: rgba(59,89,152,0.6);
        width: 160px;
        height: 80px;
      }
      h4 {
        display: inline-block;
        position: relative;
        width: 160px;
        height: 80px;
        padding: 20px;
        span,small {
          color: @primary-white;
        }
      }
      p {
        color: @font-color;
      }
    }
    .method-item {
      display: flex;
      align-items: baseline;
      span {
        color: @font-sub-color;
      }
      .item-name {
        color: @font-color;
        flex: 0 0 70px;
      }
    }
  }
  .course-section--syllabus{
    h4 {
      width: 120px;
    }
    ul {
      background-color: #f2f4f5;
    }
  }


}


