@course-mid-width: @content-mid-width;
.course-page {
  font-size: 1.2rem;
}
.course-banner {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("@{images-root}/course-banner.png") no-repeat;
  background-size: cover;
  color: @font-sub-color;
}
.course-banner__content {
  display: flex;
  width: @course-mid-width;
  margin: 40px 0;
  background-color: @primary-white;
}
.course-banner__left, .course-banner__right {
  padding: 20px 0;
}
.course-banner__left {
  width: 400px;
  padding-left: 20px;
}
.course-banner__right {
  width: 380px;
  padding: 20px 0 20px 60px;
}
.course-slide {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    width: 400px;
    height: 266px;
  }

}
.course-slide__1 {
  background: url("@{images-root}/course-banner-img-1.png") no-repeat;
  background-size: 100%;
}
.course-slide__2 {

}
.course-slide__3 {

}
.course-banner__title {
  margin: 0 0 1rem 0;
  font-size: 1.8rem;
  font-weight: normal;
  color: @font-color;
  small {
    font-size: 1.2rem;
  }
}
.course-banner__gift-title {
  width: 130px;
  height: 24px;
  margin: .8rem 0;
  background: url("@{images-root}/course-banner-info-bg.png") no-repeat;
  background-size: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 24px;
  color: @primary-white;
}
.course-banner__gift-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: flex;
    align-items: center;
    .iconfont {
      display: inline-flex;
      padding: 0 20px;
      color: @primary-blue;
    }
  }
}
.course-banner__feature-title {
  font-size: 1.2rem;
  font-weight: normal;
  color: @font-color;
  margin: .8rem 0;

}
.course-banner__feature-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 0 0 -40px;
  padding: .8rem 2rem .8rem 40px;
  background-color: #e5e6ee;
  li {
    display: inline-flex;
    font-size: 1rem;
    align-items: center;
    .iconfont {
      color: @primary-green;
    }
  }
}
.course-banner__buttons {
  margin: 2rem 0;
  button {
    margin-right: 2rem;
  }
}
.course-nav {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.4rem;
  .course-nav__tab {
    margin: 6px 40px 0 40px;
    padding: 6px 0;
    color: @font-color;
    cursor: pointer;
    &:hover, &.active {
      border-bottom: solid 2px @primary-green;
      color: @primary-green;
    }
  }
}
.course-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  color: @font-color;
  .course-section__title {
    margin: 0 auto 1rem;
    text-align: center;
    font-size: 2.8rem;
    small {
      display: block;
      margin: 0 auto 1rem;
      font-size: 1.4rem;
      &:before {
        display: block;
        width: 4rem;
        margin: 1.2rem auto;
        content: ' ';
        border-bottom: solid 2px #3b5998;
      }
    }
  }
  .course-section__content {
    width: @course-mid-width;
  }
}
.course-section--intro {
  background-color: #f4f5f5;
  .course-section__content {
    display: flex;
    justify-content: space-between;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        margin-bottom: 1rem;
        font-size: 1.4rem;
        .iconfont {
          display: inline-flex;
          margin-right: 1rem;
        }
      }
    }
  }
}
.course-section--method {
  .course-section__content {
    display: flex;
    justify-content: space-between;
    .course-method-1, .course-method-2 {
      width: 360px;
      height: 240px;
      background-size: 100%;
      color: @primary-white;
      line-height: 1.6rem;
      z-index: 1;
      h4 {
        font-size: 1.4rem;
        font-weight: normal;
      }
    }
    .course-method-1 {
      position: relative;
      background: url("@{images-root}/course-method-bg-1.png") no-repeat;
      h4 {
        margin: 0 0 2rem 0;
        padding: 1rem 2rem;
      }
      p {
        margin: 0;
        padding: 0 2rem;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #3b5998;
        opacity: 0.6;
        z-index: -1;

      }
    }
    .course-method-2 {
      background: url("@{images-root}/course-method-bg-2.png") no-repeat;
      position: relative;
      h4 {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 1rem 2rem;
        z-index: 2;
        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #3b5998;
          opacity: 0.6;
          z-index: -1;
        }
      }
    }
  }
}
.course-section--syllabus {
  background-color: #f4f5f5;
  h4 {
    width: 200px;
    height: 34px;
    padding: 0 1rem;
    margin: 2rem 0 1rem 0;
    background: url("@{images-root}/course-small-title-bg.png") no-repeat;
    background-size: 100%;
    font-size: 1.2rem;
    line-height: 34px;
    color: @primary-white;
  }
  ul {
    margin: 0;
    padding: 2rem 3rem;
    background-color: @primary-white;
    line-height: 2rem;
    li {
      margin-bottom: 0.6rem;
    }
  }
  .section-info {
    color: @font-sub-color;
  }
  .section__p__info {
    color: @font-sub-color;
    padding-left: 2rem;
    font-size: 1.1rem;
  }
}


