@course-mid-width: @content-md-width;
@course-sm-width: 720px;
.course-page {
  font-size: 1.2rem;
  .section-content {
    width: @course-mid-width;
  }
}
.course-banner {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("@{images-root}/course-banner.png") no-repeat;
  background-size: cover;
  color: @font-sub-color;
}
.course-banner__content {
  display: flex;
  margin: 40px 0;
  background-color: @primary-white;
}
.course-banner__left, .course-banner__right {
  padding: 20px 0;
}
.course-banner__left {
  width: 400px;
  padding-left: 20px;
}
.course-banner__right {
  width: 380px;
  padding: 20px 0 20px 60px;
}
.course-slide {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    width: 400px;
    height: 266px;
  }

}
.course-slide__1 {
  background: url("@{images-root}/course-banner-img-1.png") no-repeat center;
  background-size: cover;
}
.course-slide__2 {

}
.course-slide__3 {

}
.course-banner__title {
  margin: 0 0 1rem 0;
  font-size: 1.8rem;
  font-weight: normal;
  color: @font-color;
  small {
    font-size: 1.2rem;
  }
}
.course-banner__gift-title {
  width: 130px;
  height: 24px;
  margin: .8rem 0;
  background: url("@{images-root}/course-banner-info-bg.png") no-repeat center;
  background-size: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 24px;
  color: @primary-white;
}
.course-banner__gift-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    .iconfont {
      display: inline-flex;
      padding: 0 20px;
      color: @primary-blue;
    }
  }
}
.course-banner__feature-title {
  font-size: 1.2rem;
  font-weight: normal;
  color: @font-color;
  margin: .8rem 0;

}
.course-banner__feature-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 0 0 -40px;
  padding: .8rem 2rem .8rem 40px;
  background-color: #e5e6ee;
  li {
    display: inline-flex;
    font-size: 1rem;
    align-items: center;
    .iconfont {
      font-size: 1.4rem;
      color: @primary-green;
    }
  }
}
.course-banner__buttons {
  margin: 2rem 0 0 0;
  button {
    margin-right: 2rem;
  }
}
.course-nav {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 1.4rem;
  .course-nav__tab {
    margin: 6px 40px 0 40px;
    padding: 6px 0;
    color: @font-color;
    cursor: pointer;
    &:hover, &.active {
      border-bottom: solid 2px @primary-green;
      color: @primary-green;
    }
  }
}
.course-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  color: @font-color;
  .course-section__title {
    margin: 0 auto 1.6rem;
  }
  .course-section__content {
  }
}
.course-section--intro {
  background-color: #f4f5f5;
  .course-section__content {
    display: flex;
    justify-content: space-between;
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        margin-bottom: 1rem;
        font-size: 1.4rem;
        .iconfont {
          display: inline-flex;
          margin-right: 1rem;
        }
      }
    }
  }
}
.course-section--method {
  .course-section__content {
    display: flex;
    justify-content: space-between;
    .course-method-1, .course-method-2 {
      width: 360px;
      height: 240px;
      color: @primary-white;
      line-height: 1.6rem;
      z-index: 1;
      h4 {
        font-size: 1.4rem;
        font-weight: normal;
      }
    }
    .course-method-1 {
      position: relative;
      background: url("@{images-root}/course-method-bg-1.png") no-repeat center;
      background-size: cover;
      h4 {
        margin: 0 0 2rem 0;
        padding: 1rem 2rem;
      }
      p {
        margin: 0;
        padding: 0 2rem;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #3b5998;
        opacity: 0.6;
        z-index: -1;

      }
    }
    .course-method-2 {
      background: url("@{images-root}/course-method-bg-2.png") no-repeat center;
      background-size: cover;
      position: relative;
      h4 {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 1rem 2rem;
        z-index: 2;
        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #3b5998;
          opacity: 0.6;
          z-index: -1;
        }
      }
    }
  }
}
.course-section--syllabus {
  background-color: #f4f5f5;
  h4 {
    width: 200px;
    height: 34px;
    padding: 0 1rem;
    margin: 2rem 0 1rem 0;
    background: url("@{images-root}/course-small-title-bg.png") no-repeat center right;
    background-size: cover;
    font-size: 1.2rem;
    line-height: 34px;
    color: @primary-white;
  }
  ul {
    margin: 0;
    padding: 2rem 3rem;
    background-color: @primary-white;
    line-height: 2rem;
    li {
      margin-bottom: 0.6rem;
    }
  }
  .section-info {
    color: @font-sub-color;
  }
  .section__p__info {
    color: @font-sub-color;
    padding-left: 2rem;
    font-size: 1.1rem;
  }
}

// < 992px
@media (max-width: @screen-sm-max) {
  .course-page {
    .section-content {
      width: @course-sm-width;
    }
  }
  .course-banner__content {
    width: @course-sm-width;
  }
  .course-banner__left {
    width: 380px;
    padding-left: 10px;
  }
  .course-banner__right {
    width: 340px;
    padding: 20px 0 20px 20px;
  }
  .course-slide {
    li {
      width: 370px;
      height: 240px;
    }
  }
  .course-banner__feature-list {
    margin-left: -20px;
  }
}
// < 768px
@media (max-width: @screen-xs-max) {
  .course-page {
    background: #f2f4f5;
    .section-content {
      width: 100%;
      padding: 10px;
    }
  }
  .course-banner {
    background: @primary-white;
    height: auto;
  }
  .course-banner__title {
    padding-left: 10px;
  }
  .course-banner__content {
    display: block;
    margin: 10px;
  }
  .course-banner__left, .course-banner__right {
    width: 100%;
    padding: 0;
    margin: 0 0 20px 0;
  }
  .course-slide {
    li {
      width: 100%;
      height: 200px;
    }
  }
  .course-banner__block {
    position: relative;
    display: block;
    margin-bottom: 20px;
    .clearfix();
    h3 {
      position: absolute;
      width: 80px;
      margin: 0 10px;
    }
    ul {
      margin-left: 120px;
      display: block;
      width: auto;
      li {
        margin-bottom: 6px;
      }
    }
  }
  .course-banner__gift-title {
    margin: 0;
    padding-left: 6px;
    background: url("@{images-root}/course-small-title-bg.png") no-repeat center right;
    background-size: cover;
    text-align: left;
  }
  .course-banner__gift-list {
    li > .iconfont {
      padding: 0 10px 0 0 ;
    }
  }
  .course-banner__block--feature {
    background-color: #f4f6f9;
    margin: 20px -10px;
    .course-banner__feature-title {
      margin: 10px 20px 10px !important;
    }
    .course-banner__feature-list {
      display: block;
      background: transparent;
      margin: 10px 20px 10px 130px;
      padding: 0;
      li {
        display: inline-block;
        width: 80px;
        .iconfont {
          padding-right: 2px;
        }
      }
    }
  }
  .course-banner__buttons {
    display: flex;
    justify-content: space-around;
    button {
      width: 40%;
      margin: 0;
    }
  }
  .course-nav {
    background: @primary-white;
    margin: 20px 0 1px 0;
    .course-nav__tab {
      margin: 6px 20px 1px 20px;
    }
  }

  .course-section {
    background: @primary-white;
    margin-bottom: 20px;
  }
  .course-section--intro {
    .course-section__content {
      display: block;
      ul {

      }
    }
  }
  .course-section--method {
    .course-section__content {
      justify-content: flex-start;
      flex-direction: column;
      .course-method-1, .course-method-2 {
        width: 100%;
        height: 240px;
      }
    }
  }
  .course-section--syllabus{
    h4 {
      width: 120px;
    }
    ul {
      background-color: #f2f4f5;
    }
  }


}


