.index-banner,
.index-section {
  font-size: 1.8rem;
}

.index-banner {
  overflow: hidden;
  position: relative;
}

.index-banner .banner-slider {
  position: absolute;
  height: 100%;
  width: 500%;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1;
  .slider-1 {
    background: url("@{images-root}/index-banner-1.png") no-repeat center;
  }

  .slider-2 {
    background: url("@{images-root}/index-banner-2.png") no-repeat center;
  }

  .slider-3 {
    background: url("@{images-root}/index-banner-3.png") no-repeat center;
  }

  li[class*='slider-'] {
    position: relative;
    display: block;
    float: left;
    background-size: cover;
    height: 100%;
  }
}

.index-banner .rectangle {
  background: url("@{images-root}/index-banner-rectangle.png") no-repeat center;
  background-size: contain;
  width: 55%;
  height: 95%;
  margin: auto;
  z-index: 2;
}

.index-banner .angle {
  font-size: 5.6rem;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  z-index: 3;

  &:hover {
    color: @primary-white;
  }

  &.angle-left {
    left: 15%;
  }

  &.angle-right {
    right: 15%;
  }
}

.index-banner .blockage {
  bottom: 20px;
  z-index: 3;

  span[class*='blockage-'] {
    display: inline-block;
    width: 25px;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    &:hover,
    &.active {
      background-color: @primary-white;
    }
  }
}

.index-section--brand {
  position: relative;
  .brand-bg {
    display: flex;
    justify-content: center;
    &.brand-bg-1 {
      background: url("@{images-root}/brand-profession.png") no-repeat center;
      background-size: cover;
    }

    &.brand-bg-2 {
      background: url("@{images-root}/brand-teaching.png") no-repeat center;
      background-size: cover;
    }

    &.brand-bg-3 {
      background: url("@{images-root}/brand-background.png") no-repeat center;
      background-size: cover;
    }
    &:nth-child(2n+1) {
      .brand-content {
        color: @primary-white;
      }
      .iconfont {
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        color: @primary-white;
      }
    }
    &:nth-child(2n) {
      .brand-content {
        text-align: right;
        color: @font-color;
      }
      .iconfont {
        top: 0;
        right: 0;
        color: @font-sub-color;
        transform: translate(50%, -50%);
      }
    }
  }
  .brand-content {
    position: relative;
    width: 76%;
    margin-top: 10%;
    .iconfont {
      position: absolute;
      font-size: 10rem;
      opacity: 0.3;
    }
  }
  .brand-content__text {
    font-size: 1.8rem;
    .strong {
      font-size: 4.8rem;
      small {
        font-size: 3rem;
      }
    }
  }
}
.index-section--philosophy {
  .section-content {
    width: 76%;
    text-align: center;
    p {
      margin-top: 20px;
    }
  }
}
.audition-modal {
  .input-phone {
    width: 250px;
  }
}

// < 1200px
@media (max-width: @screen-md-max) {

  .index-banner,
  .index-section {
    font-size: 1.6rem;
  }

  .index-section--brand {
    .brand-content__text {
      font-size: 1.4rem;
      .strong {
        font-size: 3.6rem;
        small {
          font-size: 1.8rem;
        }
      }
    }
    .brand-content {
      .iconfont {
        font-size: 8rem;
      }
    }
  }
}

// < 992px
@media (max-width: @screen-sm-max) {

}
// <768px
@media (max-width: @screen-xs-max) {
  .index-banner,
  .index-section {
    font-size: 1.4rem;
  }
  .index-banner {
    .rectangle {
      width: 76%;
    }
    .banner-slider {
      li[class*='slider-'] {
        background-size: cover;
      }
    }
    .angle {
      &.angle-left {
        left: 10px;
      }
      &.angle-right {
        right: 10px;
      }
    }
    .blockage {
      bottom: 4px;
    }
  }
  .index-section--brand {
    .brand-bg {
      height: 480px;
      &.brand-bg-1 {
        background: url("@{images-root}/mobile-index-brand-1.png") no-repeat;
        background-size: cover;
      }

      &.brand-bg-2 {
        background: url("@{images-root}/mobile-index-brand-2.png") no-repeat;
        background-size: cover;
      }

      &.brand-bg-3 {
        background: url("@{images-root}/mobile-index-brand-3.png") no-repeat;
        background-size: cover;
      }
    }
    .brand-content {
      margin-top: 60px;
    }
    .brand-content__text {
      font-size: 1.2rem;
      .strong {
        font-size: 2.4rem;
        small {
          font-size: 1.6rem;
        }
      }
    }
    .brand-content {
      .iconfont {
        font-size: 6rem;
      }
    }
  }
}
