.login-modal.fade .modal-dialog {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: all .3s ease-out;
  -webkit-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  -o-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}

.login-modal.in .modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}


.login-modal .modal-sm {
  width: 440px;
}

.login-modal .modal-header,
.login-modal .modal-body {
  background-color: @light-grey;
}

.login-modal {
  color: @font-light-color;
  font-size: 1.4rem;
}

.login-modal .modal-header {

  .modal-logo-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid rgba(255, 255, 255, .2);
    border-radius: 50%;
    z-index: 1;
  }

  .modal-logo {
    width: 110px;
    height: 110px;
    background: @primary-white url("@{images-root}/logo.png") no-repeat 60% 50%;
    border-radius: 50%;
  }

}

.login-modal .modal-body {

  .login-form {
    padding: 40px 60px;
  }

  .form-group {
    padding-left: 15px;

    &:not(:first-child) {
      border-bottom: 1px solid @font-light-color;
    }

    &:hover:not(:first-child) {
      border-bottom-color: @primary-green;
      i, input {
        color: @primary-green;
      }
    }

  }

  input.form-control {
    display: inline-block;
    border: none;
    color: @font-color;
    box-shadow: 0 0 0 1000px @light-grey inset;

    &:hover,
    &:focus {
      color: @primary-green;
    }

    &:-webkit-autofill {
      color: @font-color !important;
    }

  }

  input.input-username {
    width: 250px;
  }

  input.input-psd {
    width: 190px;
  }

  a.forget-psd {
    color: @primary-green;
    cursor: pointer;
  }

  .has-error .help-block {
    margin-top: 0;
    margin-bottom: 15px;
  }

}

.login-modal .modal-footer button{
  padding-left: 70px;
  padding-right: 70px;
}

