.password-section {
  background-color: @primary-grey;
  padding: 5%;
}

.password-section .container {
  background-color: @primary-white;
}

.step-line {

}

.step-line-1 {
  //background-color: @primary-blue;
  background: linear-gradient(to right,  @primary-blue 0, transparent -20px);
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.step-line-1:after {
  content: '';
  border-top: 20px solid transparent;
  border-right: 0;
  border-bottom: 20px solid transparent;
  border-left: 20px solid red;
}

.test{
  border-top: 20px solid transparent;
  border-right: 0;
  border-bottom: 20px solid transparent;
  border-left: 20px solid red;
}