.password-tool-header{
  background-color: @light-grey;
}
.password-section {
  background-color: @primary-grey;
  font-size: 1.4rem;
  padding: 30px 20px;
  .password-section-container {
    background-color: @primary-white;
    padding: 40px;
    max-width: 970px;
    margin: 30px auto;
  }
  .form-container {
    margin: 40px 0;
    min-height: 300px;
  }
  .form-submit {
    display: flex;
    justify-content: center;
    .btn {
      width: 100px;
    }
  }
  .success-icon {
    color: @primary-green;
    font-size: 80px;
  }
  .success-info {
    font-size: 36px;
  }
  .forget-password-title {
    font-size: 24px;
    margin: 20px 0;
  }
}
.dashboard-content {
  .password-section {
    background-color: transparent;
    .password-section-container {
    }
  }
}
.mobile-password-section {
  font-size: 14px;
  .form-container {
    margin: 20px 0;
    padding: 20px;
    background: @primary-white;
  }
  .form-submit {
    width: 100%;
    margin: 30px 0;
    button {
      width: 100%;
    }
  }
  .forget-password-title {
    display: none;
  }
  .success-icon {
    color: @primary-green;
    font-size: 60px;
  }
  .success-info {
    font-size: 20px;
  }
}
