.info-panel .table-tool {
  background-color: @light-grey;
}

.info-panel-body {
  padding: 60px;

  label {
    width: 120px;
    float: left;
    font-weight: normal;
    margin-left: 40px;
  }

  span.txt {
    color: @font-sub-color;
  }

}

.info-panel-body {
  .step-line {
    padding-bottom: 80px;
  }
  .step-line > li {
    width: 50%;
  }
}


