.nav.nav-tabs .table-tool {
  position: relative;
  float: right;

  .input-group {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.schedule-info .table tbody > tr > td {
  height: 120px;
}

.schedule-info .table tbody td i.icon-pencil-circle-o {
  font-size: 6rem;
}

.schedule-info .table tbody td i.iconfont {
  cursor: pointer;

  &:hover {
    color: @primary-green;
  }
}
