<div class="table-tool">
  <button class="btn btn-green-outline mr10" ng-if="tableConfig.add" ng-click="add()"><i class="iconfont icon-add-document mr10"></i>新增</button>
  <button class="btn btn-green-outline" ng-if="tableConfig.delete" ng-click="deleteAll()"><i class="iconfont icon-delete mr10"></i>删除</button>

  <div class="input-group" ng-if="tableConfig.search">
    <input type="text" class="form-control" placeholder="姓名或手机号" ng-model="tableState.search.key" ng-enter="search()" ng-focus="focus()">
    <span class="input-group-addon" ng-click="search()">搜索</span>
  </div>

</div>
