<section class="re-table">

  <div include-with-scope="app/directives/tables/table-tool.html"></div>

  <div class="table-container"
       ng-class="{'with-tool':tableConfig.add || tableConfig.delete || tableConfig.search || tableConfig.archive}">
    <table class="table table-striped table-hover" ng-if="tableData.length > 0">
      <thead>
      <tr>
        <th ng-if="tableConfig.select"><input type="checkbox" re-select-all="tableData"></th>
        <th ng-repeat="item in tableColumns track by $index" ng-if="item.show" ng-class="item.class"
            ng-bind="item.name" re-sort="item">
        </th>
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="data in tableData track by $index">
        <td ng-if="tableConfig.select">
          <input type="checkbox" re-select="data" ng-checked="data.isSelected">
        </td>
        <td ng-repeat="item in tableColumns track by $index" ng-if="item.show" ng-class="item.class">
          <span ng-if="!item.html" ng-bind="data[item.col]"></span>
          <span ng-if="item.html" ng-compile-html="item.html(data[item.col])"></span>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="text-center" ng-if="tableData.length == 0">暂无数据</div>
  </div>

  <re-pagination></re-pagination>

</section>
