<div class="table-pagination" ng-if="tableData.length > 0">
  <a class="btn btn-green" ng-click="toPage(pagination.page - 1)" ng-hide="pagination.page === 1">
    <i class="iconfont icon-angle-left mr5"></i>上一页
  </a>
  <span ng-bind="pagination.page - 2" ng-if="pagination.page > 2" ng-click="toPage(pagination.page - 2)"></span>
  <span ng-bind="pagination.page - 1" ng-if="pagination.page > 1" ng-click="toPage(pagination.page - 1)"></span>
  <span class="active" ng-bind="pagination.page"></span>
  <span ng-bind="pagination.page + 1" ng-if="pagination.page < pagination.page_total" ng-click="toPage(pagination.page + 1)"></span>
  <span ng-bind="pagination.page + 2" ng-if="pagination.page < pagination.page_total - 1" ng-click="toPage(pagination.page + 2)"></span>
  <span ng-if="pagination.page < pagination.page_total - 3">...</span>
  <span ng-bind="pagination.page_total" ng-click="toPage(pagination.page_total)" ng-if="pagination.page < pagination.page_total - 2"></span>
  <a class="btn btn-green" ng-click="toPage(pagination.page + 1)" ng-hide="pagination.page === pagination.page_total">
    下一页<i class="iconfont icon-angle-right ml5"></i>
  </a>
</div>
