<section class="re-table">

    <div include-with-scope="app/directives/tables/table-tool.html" ng-if="tableConfig"></div>

    <div class="table-container">
        <table class="table table-striped table-hover" ng-if="tableData.length > 0">
            <thead>
            <tr>
                <th ng-if="tableConfig.select"><input type="checkbox" re-select-all="tableData"></th>
                <th ng-repeat="item in tableColumns track by $index" ng-if="item.show" ng-class="item.class"
                    ng-bind="item.name" re-sort="item">
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="data in tableData track by $index">
                <td ng-if="tableConfig.select">
                    <input type="checkbox" re-select="data" ng-checked="data.isSelected">
                </td>
                <td ng-repeat="item in tableColumns track by $index" ng-if="item.show" ng-class="item.class">
                    <span ng-if="!item.html" ng-bind="data[item.col]"></span>
                    <span ng-if="item.html" ng-compile-html="item.html(data[item.col])"></span>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="no-data-container text-center" ng-if="tableData.length == 0">
            <div class="no-data-container__img"></div>
            <p>暂无数据~</p>
        </div>
    </div>

    <re-pagination ng-if="tableState.pagination"></re-pagination>

</section>
