<div class="info-panel">
  <div class="table-tool">
    <div class="title">基本信息</div>
    <button class="btn btn-green-outline fr" ui-sref="dashboard.history"><i class="iconfont icon-angle-left mr10"></i>返回
    </button>
  </div>
  <div class="info-panel-body">
    <div class="col-md-6 mb20" ng-repeat="item in baseColumns track by $index">
      <label ng-bind="item.name"></label>
      <span ng-bind="data[item.col]"></span>
    </div>

    <div class="inline-block mt10">
      <div class="col-md-6 mb20" ng-repeat="item in proColumns track by $index">
        <label ng-bind="item.name"></label>
        <span ng-bind="data[item.col]"></span>
      </div>
    </div>
  </div>
</div>
