<div class="span3 right-span margin-top-header">
    <div class="widget-box fr">
        <div class="widget-content nopadding">
            <div class="alert-zone right-boxup">
                <div class="ibox-head">
                    <div class="title p0">
                        <div>
                            <span class="diamonds"></span>
                            <span class="text-cn">用户风险网站系统 TOP5</span>
                        </div>
                        <div class="text-us">
                            User's risk TOP5
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-mg">
                    <thead>
                        <tr>
                            <th class="w30 text-center">用户</th>
                            <th class="w30 text-center">网站数</th>
                            <th>风险系数</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="web in webUserRiskTop5 track by $index">
                            <td class="center" ng-bind="web.user"></td>
                            <td class="center" ng-bind="web.web_num"></td>
                            <td rowspan="5" class="btr5" ng-if="$index == 0">
                                <div id="web_user_risk_top5"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="alert-zone right-boxup mt20">
                <div class="ibox-head">
                    <div class="title p0">
                        <div>
                            <span class="diamonds"></span>
                            <span class="text-cn">风险工控系统类型 TOP5</span>
                        </div>
                        <div class="text-us">
                            User's risk Industrial Control Systems TOP5
                        </div>
                    </div>
                </div>
                <!-- <div class="title">风险工控系统类型 TOP5</div>
 -->
                <table class="table table-bordered table-mg">
                    <thead>
                        <tr>
                            <th class="w40">系统类型</th>
                            <th>漏洞总数</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="device in icDeviceTypeTop5 track by $index">
                            <td class="lh20" ng-bind="device._id"></td>
                            <td rowspan="5" class="btr5" ng-if="$index == 0">
                                <div id="ic_device_type_top5"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class=" alert-zone right-boxdown mt20">
                <div class="ibox-head">
                    <div class="title p0">
                        <div>
                            <span class="diamonds"></span>
                            <span class="text-cn">风险工控系统 TOP5</span>
                        </div>
                        <div class="text-us">
                            Risk Industrial Control Systems TOP5
                        </div>
                    </div>
                </div>
                <div id="ic_risk_device_top5"></div>
            </div>
            <div class=" alert-zone right-boxdown mt20">
                <div class="ibox-head">
                    <div class="title p0">
                        <div>
                            <span class="diamonds"></span>
                            <span class="text-cn">风险网站 TOP5</span>
                        </div>
                        <div class="text-us">
                            Risk Website system TOP5
                        </div>
                    </div>
                </div>
                <div id="web_risk_top5"></div>
            </div>
        </div>
    </div>
</div>
