<div class="banner" banner-resize="640" ng-mouseenter="stopAutoAnimate()" ng-mouseleave="autoAnimate()">
    <ul class="banner-slider m0 p0">
        <li class="slider-3">
            <div class="rectangle absolute-horizontal-center">
                <div class="banner-txt text-center absolute-center">
                    <p class="mb20">多对一全程督学</p>
                    <p>专业助教团队</p>
                    <p>作业节点的严格把控</p>
                </div>
            </div>
        </li>
        <li class="slider-1">
            <div class="rectangle absolute-horizontal-center">
                <div class="banner-txt text-center absolute-center">
                    <p class="mb20">让你的学习更有效</p>
                    <p>个性化定制学习方案</p>
                    <p>VIP名师一对一精品提分</p>
                </div>
            </div>
        </li>
        <li class="slider-2">
            <div class="rectangle absolute-horizontal-center">
                <div class="banner-txt text-center absolute-center">
                    <p class="mb20">教育背景行业领先的师资团队</p>
                    <p>过硬的专业知识</p>
                    <p>丰富的教学经验</p>
                </div>
            </div>
        </li>
        <li class="slider-3">
            <div class="rectangle absolute-horizontal-center">
                <div class="banner-txt text-center absolute-center">
                    <p class="mb20">多对一全程督学</p>
                    <p>专业助教团队</p>
                    <p>作业节点的严格把控</p>
                </div>
            </div>
        </li>
        <li class="slider-1">
            <div class="rectangle absolute-horizontal-center">
                <div class="banner-txt text-center absolute-center">
                    <p class="mb20">让你的学习更有效</p>
                    <p>个性化定制学习方案</p>
                    <p>VIP名师一对一精品提分</p>
                </div>
            </div>
        </li>

    </ul>
    <div class="angle angle-left absolute-vertical-center"><i class="fa fa-angle-left" ng-click="prev()"></i></div>
    <div class="angle angle-right absolute-vertical-center"><i class="fa fa-angle-right" ng-click="next()"></i></div>
    <div class="blockage absolute-horizontal-center">
        <span class="blockage-1" ng-click="goto(1)"></span>
        <span class="blockage-2" ng-click="goto(2)"></span>
        <span class="blockage-3" ng-click="goto(3)"></span>
    </div>
    <!--<div class="rectangle absolute-horizontal-center">-->
    <!--<div class="banner-txt text-center absolute-center">-->
    <!--<p class="mb20">让你的学习更有效</p>-->
    <!--<p>个性化定制学习方案</p>-->
    <!--<p>VIP名师一对一精品提分</p>-->
    <!--</div>-->
    <!--</div>-->
</div>

<section class="brand">
    <div class="brand-title text-center mt80 mb60">
        <p class="main-color" font-resize="38">品牌优势</p>
        <div class="underline"></div>
        <p class="sub-color" font-resize="18">BRAND ADVANTAGE</p>
    </div>

    <div class="brand-bg brand-bg-1" banner-resize="790">
        <div class="brand-content text-left">
            <i class="iconfont icon-good opacity3" font-resize="160"></i>
            <div class="txt">
                <p font-resize="30">专业知识 <span font-resize="48">过硬</span></p>
                <p font-resize="18">优加老师均在雅思托福中取得高分或英语专业8级以上水平，其中部分拥有托福单项满分、雅思单项8.5、SAT阅读780以上的傲人成绩</p>
            </div>
        </div>
    </div>

    <div class="brand-bg brand-bg-2" banner-resize="770">
        <div class="brand-content text-right">
            <i class="iconfont icon-read opacity3" font-resize="160"></i>
            <div class="txt">
                <p font-resize="30">教学经验 <span font-resize="48">丰富</span></p>
                <p font-resize="18">平均授课1800小时，大约相当于公立学校英语老师11.56年的总课时</p>
            </div>
        </div>
    </div>
    <div class="brand-bg brand-bg-3" banner-resize="770">
        <div class="brand-content text-left">
            <i class="iconfont icon-grade opacity3" font-resize="160"></i>
            <div class="txt">
                <p font-resize="30">教育背景行业 <span font-resize="48">领先</span></p>
                <p font-resize="18">均毕业于985、211或国外莫纳什大学、普渡大学等国外知名学府，区别于其他机构“国外不知名学校留学生”、“国内普通高校英语专业</p>
            </div>
        </div>
    </div>
</section>

<div class="idea text-center">
    <p class="main-color" font-resize="36">我们的教学理念</p>
    <p class="sub-color mb20" font-resize="18">坚持“上课教学—课辅督导—家庭沟通”的三角支持系统，培养出来了大量高分学生，并帮助他们进入了理想的院校</p>
    <button class="btn btn-green pl20 pr20">申请试听<i class="fa fa-angle-right ml10"></i></button>
</div>