<div class="index-banner" img-resize="{height:640,width:1920}" m-size="{width: 750, height: 360}" ng-mouseenter="stopAutoAnimate()"
     ng-mouseleave="autoAnimate()">
  <ul class="banner-slider">
    <li class="slider-3">
      <div class="rectangle absolute-horizontal-center">
        <div class="banner-txt text-center absolute-center">
          <p class="main">多对一全程督学</p>
          <p>专业助教团队</p>
          <p>作业节点的严格把控</p>
        </div>
      </div>
    </li>
    <li class="slider-1">
      <div class="rectangle absolute-horizontal-center">
        <div class="banner-txt text-center absolute-center">
          <p class="main">让你的学习更有效</p>
          <p>个性化定制学习方案</p>
          <p>VIP名师一对一精品提分</p>
        </div>
      </div>
    </li>
    <li class="slider-2">
      <div class="rectangle absolute-horizontal-center">
        <div class="banner-txt text-center absolute-center">
          <p class="main">教育背景行业领先的师资团队</p>
          <p>过硬的专业知识</p>
          <p>丰富的教学经验</p>
        </div>
      </div>
    </li>
    <li class="slider-3">
      <div class="rectangle absolute-horizontal-center">
        <div class="banner-txt text-center absolute-center">
          <p class="main">多对一全程督学</p>
          <p>专业助教团队</p>
          <p>作业节点的严格把控</p>
        </div>
      </div>
    </li>
    <li class="slider-1">
      <div class="rectangle absolute-horizontal-center">
        <div class="banner-txt text-center absolute-center">
          <p class="main">让你的学习更有效</p>
          <p>个性化定制学习方案</p>
          <p>VIP名师一对一精品提分</p>
        </div>
      </div>
    </li>

  </ul>
  <div class="angle angle-left absolute-vertical-center"><i class="fa fa-angle-left" ng-click="prev()"></i></div>
  <div class="angle angle-right absolute-vertical-center"><i class="fa fa-angle-right" ng-click="next()"></i></div>
  <div class="blockage absolute-horizontal-center">
    <span class="blockage-1 active" ng-click="goto(1)"></span>
    <span class="blockage-2" ng-click="goto(2)"></span>
    <span class="blockage-3" ng-click="goto(3)"></span>
  </div>

</div>
<section class="section index-section index-section--brand">
  <h2 class="section-title">
    品牌优势
    <small>BRAND ADVANTAGE</small>
  </h2>
  <div class="section-content">
    <div class="brand-bg brand-bg-1" img-resize="{height:790,width:1920}" m-size="{width: 750, height: 520}">
      <div class="brand-content">
        <i class="iconfont icon-good"></i>
        <div class="brand-content__text">
          <p class="strong">个性化 <small>定制服务</small></p>
          <p>专业学习规划师量身定制学习方案</p>
        </div>
      </div>
    </div>
    <div class="brand-bg brand-bg-2" img-resize="{height:770,width:1920}" m-size="{width: 750, height: 500}">
      <div class="brand-content">
        <i class="iconfont icon-read"></i>
        <div class="brand-content__text">
          <p class="strong">VIP精英 <small>教师团队</small></p>
          <p>过硬的专业知识和丰富的教学经验</p>
        </div>
      </div>
    </div>
    <div class="brand-bg brand-bg-3" img-resize="{height:770,width:1920}" m-size="{width: 750, height: 500}">
      <div class="brand-content">
        <i class="iconfont icon-grade"></i>
        <div class="brand-content__text">
          <p class="strong">专业 <small>助教老师全程督学</small></p>
          <p>助教老师一对一全程时间规划加课业辅导，把控学生知识吸收过程，帮助学生培养良好的学习习惯。</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section index-section index-section--philosophy">
  <h2 class="section-title">
    我们的教学理念
  </h2>
  <div class="section-content">
    <p class="sub-color">坚持“上课教学—课辅督导—家庭沟通”的三角支持系统，培养出来了大量高分学生，并帮助他们进入了理想的院校</p>
    <p><button class="btn btn-green pl20 pr20" ng-click="promptAudition()">申请试听<i class="fa fa-angle-right ml10"></i></button></p>
  </div>
</section>
