
.has-error .error-block {
  border: 1px solid #ebccd1;
  background-color: #f2dede;
  color: #b84442;
}

.help-block {
  line-height: 32px;
}

.form-group label.control-label {
  color: @font-sub-color;
  text-align: right;
  margin-top: 7px;
  font-weight: normal;
}

.form-group input.form-control {
  border-radius: 0;
  box-shadow: none;
  border-color: @font-light-color;
}

.must-star {
  color: @font-must-color;
  margin-right: 5px;
}
