@font-face {
  font-family: 'iconfont';  /* project id 269223 */
  src: url('//at.alicdn.com/t/font_13o52ntxdnmw8kt9.eot');
  src: url('//at.alicdn.com/t/font_13o52ntxdnmw8kt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_13o52ntxdnmw8kt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_13o52ntxdnmw8kt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_13o52ntxdnmw8kt9.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-good:before {
  content: '\e699';
}

.icon-read:before {
  content: '\e69b';
}

.icon-grade:before {
  content: '\e69a';
}

.icon-arrow-right:before {
  content: '\e69c';
}

.icon-location:before {
  content: '\e69f';
}

.icon-phone:before {
  content: '\e69e';
}

.icon-email:before {
  content: '\e69d';
}