@font-face {
  font-family: 'iconfont';  /* project id 269223 */
  src: url('//at.alicdn.com/t/font_s8tipztvffzgp66r.eot');
  src: url('//at.alicdn.com/t/font_s8tipztvffzgp66r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_s8tipztvffzgp66r.woff') format('woff'),
  url('//at.alicdn.com/t/font_s8tipztvffzgp66r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_s8tipztvffzgp66r.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-good:before {
  content: '\e699';
}

.icon-read:before {
  content: '\e69b';
}

.icon-grade:before {
  content: '\e69a';
}

.icon-arrow-right:before {
  content: '\e6a6';
}

.icon-location:before {
  content: '\e6ac';
}

.icon-phone:before {
  content: '\e6ae';
}

.icon-email:before {
  content: '\e6ad';
}

.icon-phone-circle:before {
  content: '\e6a0';
}

.icon-email-circle:before {
  content: '\e6a1';
}

.icon-audition:before {
  content: '\e6aa';
}

.icon-tuition:before {
  content: '\e6a9';
}

.icon-teachers:before {
  content: '\e6ab';
}

.icon-course:before {
  content: '\e6a8';
}

.icon-angle-up:before {
  content: '\e6a7';
}

.icon-angle-left:before {
  content: '\e698';
}

.icon-angle-right:before {
  content: '\e697';
}

.icon-quotation-left:before {
  content: '\e6af';
}

.icon-user:before {
  content: '\e6b1';
}

.icon-lock:before {
  content: '\e6b0';
}

.icon-check-circle-o:before {
  content: '\e6b2';
}

.icon-user-circle-o:before {
  content: '\e6b3';
}
