.modal-backdrop {
  background-color: @font-color;
}

.modal {
  font-size: 1.4rem;
}

.modal-header,
.modal-footer {
  border: 0;
}

.modal-header .close {
  transition: all .2s linear;
  &:hover {
    color: @primary-green;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg); /* IE 9 */
    -moz-transform: rotate(90deg); /* Firefox */
    -webkit-transform: rotate(90deg); /* Safari 和 Chrome */
    -o-transform: rotate(90deg); /* Opera */
  }

}

//.modal.fade .modal-dialog {
//  position: absolute;
//  top: 0;
//  left: 50%;
//  margin: 0;
//  -webkit-transition: -webkit-transform .3s ease-out;
//  -o-transition: -o-transform .3s ease-out;
//  transition: all .3s ease-out;
//  -webkit-transform: translate(-50%, -100%);
//  -ms-transform: translate(-50%, -100%);
//  -o-transform: translate(-50%, -100%);
//  transform: translate(-50%, -100%);
//}

//.modal.in .modal-dialog {
//  position: absolute;
//  top: 50%;
//  left: 50%;
//  transform: translate(-50%, -50%);
//  margin: 0;
//}

.modal-content {
  border: 0;
  border-radius: 0;
  box-shadow-color: rgba(51, 60, 75, .2);
  color: @font-sub-color;
}

.modal-footer {
  text-align: center;
}

.delete-modal .modal-footer button.submit {
  padding: 6px 40px;
}
