.modal-backdrop {
  background-color: @font-color;
}

.modal.fade .modal-dialog {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: all .3s ease-out;
  -webkit-transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  -o-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}

.modal.in .modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.modal-content {
  border-radius: 0;
  box-shadow-color: rgba(51, 60, 75, .2)
}

.modal-footer {
  text-align: center;
}