
.nav-tabs {
  font-size: 1.8rem;
  background-color: @light-grey;
  border: 0;
}

.nav-tabs--high {
  height: 94px;
  > li > a {
    line-height: 94px;
  }
}

.nav-tabs--short {
  height: 60px;
  > li > a {
    line-height: 60px;
  }
}

.nav-tabs > li > a {
  border: 0;
  border-radius: 0;
  padding: 0 30px;
  color: @font-color;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: @primary-green;
  border: 0;
}
