.steps-line {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: @primary-white;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    background: #a9b6d0;
    &:before {
      .angle-left(20px, @primary-white, transparent);
    }
    &:after {
      .angle-left(20px, transparent, @primary-white);
    }
    &:first-child:before {
      border-color: transparent;
    }
    &.active {
      background-color: @primary-blue;
    }
  }
}
// <768px
@media (max-width: @screen-xs-max) {
  .steps-line{
    //font-size: 12px;
    li {
      &:before {
        .angle-left(12px, @primary-grey, transparent);
      }
      &:after {
        .angle-left(12px, transparent, @primary-grey);
      }
    }
    li:last-child:after {
      border-color: transparent;
    }
  }
}

