<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">&times;</button>
  <div class="modal-logo-bg">
    <div class="modal-logo"></div>
  </div>
</div>
<div class="modal-body">
  <p class="font18 text-center main-color">免费试听课</p>
  <form class="login-form" name="form" ng-submit="submit(item)"
        ng-class="{'has-error':(form.name.$invalid && (form.name.$dirty || form.$submitted)) || (!is_phone_valid() && (form.phone.$dirty || form.$submitted))}"
        novalidate>
    <div class="help-block error-block mb15 pl15">
      <i class="fa fa-times-circle mr10"></i>
      <span>您输入的信息有误，请重新输入</span>
    </div>
    <div class="form-group" ng-class="{'has-error':form.name.$invalid && (form.name.$dirty || form.$submitted)}">
      <i class="iconfont icon-user font18"></i>
      <input type="text" class="form-control input-username" name="name" placeholder="请输入您的姓名" ng-model="item.name"
             required>
    </div>
    <div class="form-group" ng-class="{'has-error':form.phone.$invalid && (form.phone.$dirty || form.$submitted)}">
      <i class="iconfont icon-phone font18"></i>
      <input class="form-control input-phone" name="phone" placeholder="请输入您的手机号"
             ng-model="item.phone"
             ng-pattern="regx"
             required>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-green">立即申请</button>
    </div>

  </form>
</div>


