<ul class="sidebar">
    <li>
        <div class="li-container">
            <div class="cube pic" ng-click="promptAudition()">
                <i class="iconfont icon-audition absolute-center"></i>
            </div>
            <div class="cube txt">
                <a ng-click="promptAudition()">预约试听</a>
            </div>
        </div>
    </li>
    <li>
        <div class="li-container">
            <div class="cube pic">
                <i class="iconfont icon-course absolute-center"></i>
            </div>
            <div class="cube txt">
              <a href="tencent://message/?uin=1377716383&amp;Site=www.xxx.com&amp;Menu=yes">
                课程咨询
              </a>
            </div>
        </div>
    </li>
    <li>
        <div class="li-container">
            <div class="cube pic">
                <i class="iconfont icon-teachers absolute-center"></i>
            </div>
            <div class="cube txt">
              <a href="tencent://message/?uin=1377716383&amp;Site=www.xxx.com&amp;Menu=yes">
                师资力量
              </a>
            </div>
        </div>
    </li>
    <li>
        <div class="li-container">
            <div class="cube pic">
                <i class="iconfont icon-tuition absolute-center"></i>
            </div>
            <div class="cube txt">
                <a href="tencent://message/?uin=1377716383&amp;Site=www.xxx.com&amp;Menu=yes">
                    学费咨询
                </a>
            </div>
        </div>
    </li>
    <li>
        <div class="li-container">
            <div class="cube pic">
                <i class="iconfont icon-angle-up absolute-center"></i>
            </div>
            <div class="cube txt" ng-click="backToTop()">
                返回顶部
            </div>
        </div>
    </li>
</ul>
