<ul class="sidebar">
    <li>
        <div class="li-container">
            <div class="cube pic">
                <i class="iconfont icon-audition absolute-center"></i>
            </div>
            <div class="cube txt">
                预约试听
            </div>
        </div>
    </li>
    <li>
        <div class="li-container">
            <div class="cube pic">
                <i class="iconfont icon-course absolute-center"></i>
            </div>
            <div class="cube txt">
                课程咨询
            </div>
        </div>
    </li>
    <li>
        <div class="li-container">
            <div class="cube pic">
                <i class="iconfont icon-teachers absolute-center"></i>
            </div>
            <div class="cube txt">
                师资力量
            </div>
        </div>
    </li>
    <li>
        <div class="li-container">
            <div class="cube pic">
                <i class="iconfont icon-tuition absolute-center"></i>
            </div>
            <div class="cube txt">
                学费咨询
            </div>
        </div>
    </li>
    <li>
        <div class="li-container">
            <div class="cube pic">
                <!--<i class="fa fa-chevron-up absolute-center"></i>-->
                <i class="iconfont icon-angle-up absolute-center"  ></i>
            </div>
            <div class="cube txt">
                返回顶部
            </div>
        </div>
    </li>
</ul>