<div class="mfooter">
  <ul class="mfooter__menu">
    <li ng-class="{active: $state.includes('app.pages.course')}">
      <a class="mfooter__dropdown-toggle"><i class="iconfont icon-two-line"></i>全部课程</a>
      <ul class="mfooter__dropdown-menu">
        <li><a ui-sref="app.pages.course.ielts" ui-sref-active="active">雅思</a></li>
        <li><a ui-sref="app.pages.course.toefl" ui-sref-active="active">托福</a></li>
        <li><a ui-sref="app.pages.course.gre" ui-sref-active="active">GRE</a></li>
        <li><a ui-sref="app.pages.course.sat" ui-sref-active="active">SAT</a></li>
      </ul>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="app.pages.staff">师资力量</a>
    </li>
    <li>
      <a class="mfooter__dropdown-toggle"><i class="iconfont icon-two-line"></i>咨询小U</a>
      <ul class="mfooter__dropdown-menu">
        <li><a ng-href="{{qqLink}}" ng-click="toggleTip()">在线咨询</a></li>
        <li><a href="tel:{{tel}}">电话咨询</a></li>
        <li><a ui-sref="app.pages.wechat">关注微信</a></li>
      </ul>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="app.pages.case">成功案例</a>
    </li>
  </ul>
</div>
