<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()">&times;</button>
  <div class="modal-title">基本信息</div>
</div>
<div class="modal-body clearfix">
  <form name="form" ng-submit="submit(item)"novalidate>

    <div class="col-md-12">
      <div class="form-group flex-vertical-center"
           ng-class="{'has-error': ((!picFile && add) || (!croppedDataUrl && edit)) && (form.picFile.$dirty || form.$submitted)}">
        <label class="control-label"><span class="must-star">*</span>头像信息：</label>
        <div class="ml5">
          <button type="button" class="btn btn-green" ng-click="addPic()" ng-if="!picFile && !croppedDataUrl"><i class="iconfont icon-camera"></i>选择您要上传的头像
          </button>
          <img class="preview preview-s" ng-src="{{croppedDataUrl}}" ng-if="picFile || croppedDataUrl"/>
          <span class="edit-photo-span ml10" ng-click="editPic(croppedDataUrl)" ng-if="picFile || croppedDataUrl" ng-hide="view">修改头像 >></span>
          <div class="help-block">
            <span>头像信息不能为空</span>
          </div>
        </div>

      </div>
    </div>

    <div class="row m0">
      <div class="col-md-6">
        <div class="form-group clearfix"
             ng-class="{'has-error': form.chinese_name.$invalid && (form.chinese_name.$dirty || form.$submitted)}">
          <label class="control-label"><span class="must-star">*</span>中文名称：</label>
          <div class="right">
            <input type="text" class="form-control" name="chinese_name" ng-model="item.chinese_name" ng-if="!view"
                   required>
            <span class="view-txt" ng-bind="item.chinese_name" ng-if="view"></span>
            <div class="help-block">
              <span>中文名称不能为空</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group clearfix"
             ng-class="{'has-error': form.english_name.$invalid && (form.english_name.$dirty || form.$submitted)}">
          <label class="control-label"><span class="must-star">*</span>英文名称：</label>
          <div class="right">
            <input type="text" class="form-control" name="english_name" ng-model="item.english_name" ng-if="!view"
                   required>
            <span class="view-txt" ng-bind="item.english_name" ng-if="view"></span>
            <div class="help-block">
              <span>英文名称不能为空</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row m0">
      <div class="col-md-6">
        <div class="form-group clearfix"
             ng-class="{'has-error': form.graduated.$invalid && (form.graduated.$dirty||form.$submitted)}">
          <label class="control-label"><span class="must-star">*</span>毕业学校：</label>
          <div class="right">
            <input type="text" class="form-control" name="graduated" ng-model="item.graduated" ng-if="!view" required>
            <span class="view-txt" ng-bind="item.graduated" ng-if="view"></span>
            <div class="help-block">
              <span>毕业学校不能为空</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group clearfix"
             ng-class="{'has-error': form.major.$invalid && (form.major.$dirty||form.$submitted)}">
          <label class="control-label"><span class="must-star">*</span>毕业专业：</label>
          <div class="right">
            <input type="text" class="form-control" name="major" ng-model="item.major" ng-if="!view" required>
            <span class="view-txt" ng-bind="item.major" ng-if="view"></span>
            <div class="help-block">
              <span>毕业专业不能为空</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row m0">
      <div class="col-md-6">
        <div class="form-group clearfix"
             ng-class="{'has-error': form.country.$invalid && (form.country.$dirty||form.$submitted)}">
          <label class="control-label"><span class="must-star">*</span>毕业国家：</label>
          <div class="right">
            <input type="text" class="form-control" name="country" ng-model="item.country" ng-if="!view" required>
            <span class="view-txt" ng-bind="item.country" ng-if="view"></span>
            <div class="help-block">
              <span>毕业国家不能为空</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group clearfix"
             ng-class="{'has-error': !is_phone_valid() && (form.phone.$dirty||form.$submitted)}">
          <label class="control-label">手机号码：</label>
          <div class="right">
            <input type="tel" class="form-control" name="phone" ng-model="item.phone" ng-if="!view">
            <span class="view-txt" ng-bind="item.phone" ng-if="view"></span>
            <div class="help-block">
              <span>手机号码格式有误</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row m0">
      <div class="col-md-6">
        <div class="form-group clearfix">
          <label class="control-label">微信号码：</label>
          <div class="right">
            <input type="text" class="form-control" name="wechat" ng-model="item.wechat" ng-if="!view">
            <span class="view-txt" ng-bind="item.wechat" ng-if="view"></span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group clearfix"
             ng-class="{'has-error': form.show.$invalid && (form.show.$dirty||form.$submitted)}">
          <label class="control-label"><span class="must-star">*</span>显示于前端：</label>
          <div class="right">
            <select class="form-control" name="show" ng-model="item.show" ng-checked="item.show" ng-if="!view"
                    required>
              <option value="">请选择</option>
              <option value="true">是</option>
              <option value="false">否</option>
            </select>
            <span class="view-txt" ng-if="view"><span ng-if="item.show">是</span><span
              ng-if="!item.show">否</span></span>
            <div class="help-block">
              <span>请选择是否显示于前端</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group clearfix"
           ng-class="{'has-error': form.introduce.$invalid && (form.introduce.$dirty||form.$submitted)}">
        <label class="control-label"><span class="must-star">*</span>个人简介：</label>
        <div class="right">
          <textarea rows="4" class="textarea" name="introduce" placeholder="请限制信息100字以内"
                    ng-model="item.introduce" maxlength="100" required ng-disabled="view"></textarea>
          <div class="help-block">
            <span>个人简介不能为空</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group clearfix"
           ng-class="{'has-error': form.success_case.$invalid && (form.success_case.$dirty||form.$submitted)}">
        <label class="control-label"><span class="must-star">*</span>成功案例：</label>
        <div class="right">
          <textarea rows="4" class="textarea" name="success_case" placeholder="请限制信息200字以内"
                    ng-model="item.success_case" maxlength="200" required ng-disabled="view"></textarea>
          <div class="help-block">
            <span>成功案例不能为空</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="form-group clearfix"
           ng-class="{'has-error': form.feature.$invalid && (form.feature.$dirty||form.$submitted)}">
        <label class="control-label"><span class="must-star">*</span>个人特色：</label>
        <div class="right">
          <textarea rows="4" class="textarea" name="feature" placeholder="请限制信息400字以内"
                    ng-model="item.feature" maxlength="400" required ng-disabled="view"></textarea>
          <div class="help-block">
            <span>个人特色不能为空</span>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-green modal-footer-btn" ng-if="!view">保存信息</button>
    <button type="button" class="btn btn-green modal-footer-btn" ng-if="view" ng-click="cancel()">关 闭</button>

  </form>
</div>


