<div class="case-banner flex-center" img-resize="{height:360,width:1920}" m-size="{height:320,width:750}">
  <h3 class="case-banner__text">我们一起的奋斗成果 新的开头携手共进</h3>
  <div class="case-banner__text--mobile">
    <h3 class="section-title">
      查看成功案例
      <small>VIEW SUCCESS STORIES</small>
    </h3>
  </div>
</div>
<section class="case-section">
  <h3 class="case-section__title section-title--border section-title">
    <span>查看成功案例</span>
    <small>VIEW SUCCESS STORIES</small>
  </h3>
  <ul class="case-section__nav horizontal-nav" scroll-nav>
    <li class="horizontal-nav__tab" ng-class="{active:queryStr.tag === '雅思'}" ng-click="toggle('雅思')">雅思</li>
    <li class="horizontal-nav__tab" ng-class="{active:queryStr.tag === '托福'}" ng-click="toggle('托福')">托福</li>
    <li class="horizontal-nav__tab" ng-class="{active:queryStr.tag === 'SAT'}" ng-click="toggle('SAT')">SAT</li>
  </ul>
  <div class="case-section__content">
    <div class="case-section__content__container" ng-repeat="case in cases track by $index">
      <div class="case-section__content__brief-block">
        <h4 class="name">
          <span ng-bind="case.chinese_name"></span>&emsp;<span class="opacity6">|</span>&emsp;<span
          ng-bind="case.update_time | dateYear"></span>
        </h4>
        <p>
          <span class="brief-block__label opacity6">录取院校：</span><span class="brief-block__content" ng-bind="case.school"></span>
        </p>
        <p>
          <span class="brief-block__label opacity6"><span ng-bind="case.test1"></span>：</span><span class="brief-block__content" ng-bind="case.score1"></span>
        </p>
        <p ng-if="case.test2">
          <span class="brief-block__label opacity6"><span ng-bind="case.test2"></span>：</span><span class="brief-block__content" ng-bind="case.score2"></span>
        </p>
        <div class="page-pagination">
          <span class="page-pagination__current" ng-bind="queryStr.page"></span> / <span class="page-pagination__total" ng-bind="page_total"></span>
        </div>
        <img class="brief-block__bg" src="/assets/image/case-book-bg.png"/>
        <img class="brief-block__maker--1" src="/assets/image/case-book-mark.png"/>
        <img class="brief-block__maker--2" src="/assets/image/case-book-mark.png"/>
      </div>
      <div class="case-section__content__feedback-block">
        <h5 class="title">同学感悟</h5>
        <p ng-bind="case.comment"></p>
        <h5 class="title">老师点评</h5>
        <p ng-bind="case.feeling"></p>
      </div>
    </div>
    <div class="case-section__content__footer" ng-if="total > 0">
      <button class="btn btn-green" ng-click="prev()" ng-hide="queryStr.page == 1"><i class="iconfont icon-angle-thin-left"></i></button>
      <button class="btn btn-green" ng-click="next()" ng-hide="queryStr.page == page_total"><i class="iconfont icon-angle-thin-right"></i></button>
    </div>
    <div class="no-data-container text-center" ng-if="total == 0">
      <div class="no-data-container__img"></div>
      <p>暂无数据~</p>
    </div>
    <div class="show-more-case" ng-if="cases.length < total">
      <a ng-click="seeMore()"> 点击加载更多 <i class="iconfont icon-angle-right"></i></a>
    </div>
  </div>
</section>
