<section class="password-section">
  <div class="container pl35 pr35">
    <ul class="step-line flex-center pt50 pb50">
      <li ng-class="{normal: step !== $index + 1, active : step === $index + 1}"
          ng-repeat="sl in stepLines track by $index">
         <span>
            <strong ng-bind="$index+1"></strong>
            <strong>.</strong>
            <strong ng-bind="sl"></strong>
        </span>
      </li>
      <!--<li ng-class="{normal:step!==1,active:step === 1}">-->
        <!--<span><strong>1.验证身份</strong></span>-->
        <!--<i></i>-->
      <!--</li>-->
      <!--<li ng-class="{normal:step!==2,active:step === 2}">-->
        <!--<span><strong>2.设置密码</strong></span>-->
        <!--<i></i>-->
      <!--</li>-->
      <!--<li ng-class="{normal:step!==3,active:step === 3}">-->
        <!--<span><strong>3.完成</strong></span>-->
        <!--<i></i>-->
      <!--</li>-->
    </ul>

    <p class="font24">找回密码</p>

    <div class="col-md-8 col-md-offset-2 form-container">
      <step1 ng-if="step === 1"></step1>
      <step2 ng-if="step === 2"></step2>
      <step3 ng-if="step === 3"></step3>
    </div>

  </div>
</section>
