<div class="page-bottom">
    <div class="container">
        <div class="page-bottom__container">
            <div class="left">
                <div class="page-bottom__logo"></div>
                <button class="btn btn-white-outline pl45 pr45" ui-sref="app.pages.about">关于我们
                    <i class="iconfont icon-arrow-right"></i>
                </button>
            </div>
            <div class="mid">
                <p>联系我们：</p>
                <p>
                    <i class="iconfont icon-email mr5"></i>
                    <span class="opacity6">tangying@uplusway.com（Sherry唐老师）</span>
                </p>
                <p>
                    <i class="iconfont icon-location mr5"></i>
                    <span class="opacity6">成都市总府路2号时代广场A座805A</span></p>
                <p class="flex-vertical-center">
                    <i class="iconfont icon-phone mr5"></i>
                    <span class="opacity6">客服热线：</span>
                    <span class="phone-number">028-84543367</span>
                </p>
            </div>
            <div class="right">
                <div class="inline-block mr10">
                    <p>关注公众号：</p>
                    <p class="opacity6">uplusway</p>
                    <p class="qr-code qr-code__youjia"></p>
                </div>
                <div class="inline-block">
                    <p>咨询老师：</p>
                    <p class="opacity6">18183286948</p>
                    <p class="qr-code qr-code__sherry"></p>
                </div>
            </div>
        </div>
        <p class="page-bottom__copyright opacity6">CopyRight©2017 四川优加教育咨询有限公司 <a href="http://beian.miit.gov.cn/state/outPortal/loginPortal.action;jsessionid=enGDBK9Ncfnl0qv1N18OHEGgfhv0_cXOTDef7qgnegypzAuaae9a!1958385134">蜀ICP备17019679号</a></p>
      <div style="width:300px;margin:0 auto; padding:20px 0;">
        <a target="_blank" href=" " style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
          <img src="../../../assets/image/police.jpg" style="float:left;"/>
          <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;"><a href="http://beian.gov.cn/portal/index">川公网安备 51010402000877号</a></p >
        </a >
      </div>
    </div>
</div>
