<div class="page-bottom clearfix">
    <div class="container">
        <div class="row mb50">
            <div class="col-sm-3 text-right">
                <div class="page-bottom-logo mb10"></div>
                <p class="mb20 opacity6">全国校区都属美联英语直营</p>
                <!--<button class="btn btn-white-outline">关于我们<i class="fa fa-arrow-right"></i></button>-->
                <button class="btn btn-white-outline pl43 pr43">关于我们
                    <i class="iconfont icon-arrow-right ml10"></i>
                </button>
            </div>

            <div class="col-sm-6 column-2">
                <p class="mb20">联系我们：</p>
                <p class="mb20">
                    <i class="iconfont icon-email mr5"></i>
                    <span class="opacity6">tangying@uplusway.com（Sherry唐老师）</span>
                </p>
                <p>
                    <i class="iconfont icon-location mr5"></i>
                    <span class="opacity6">成都市总府路2号时代广场A2108</span></p>
                <p class="flex-vertical-center m0">
                    <i class="iconfont icon-phone mr5"></i>
                    <span class="opacity6">客服热线：</span>
                    <span class="phone-number">028-84543367</span>
                </p>
            </div>
            <div class="col-sm-3">
                <p class="mb20">微信号：</p>
                <p class="opacity6">youjialiuxue</p>
                <p class="qr-code m0"></p>
            </div>
        </div>
        <p class="text-center opacity6">CopyRight©2017 四川优加教育咨询有限公司 蜀ICP备15024581号</p>
    </div>
</div>
